{
    "Servers": {
        "1": {
            "Name": "Fly Database",
            "Group": "Servers",
            "Host": "db",
            "Port": ${DB_INTERNAL_PORT},
            "MaintenanceDB": "${POSTGRES_DB}",
            "Username": "${POSTGRES_USER}",
            "SSLMode": "prefer",
            "Comment": "SOTA Managed Database Mapping"
        }
    }
}
