beautifulsoup4
cachetools
certifi
cloudscraper
fastapi
gitingest
numpy
pandas
plotly
psutil
pyautogui
pydantic
pytest
python-dateutil
requests
selenium
sqlalchemy
sqlparse
tqdm
unidecode
urllib3
yfinance
pip-tools